body {
    margin: 0 auto;
    background-image: url("./canyon.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parallax {
    background-image: url("./canyon.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* <a href="https://www.freepik.com/free-photos-vectors/silhouette">Silhouette photo created by welcomia - www.freepik.com</a> */
