@media (min-width: 769px) {

    .App {
        display: grid;
        grid-template-rows: auto repeat(6, 1fr);
        grid-template-columns: 50px 1fr 50px;
        text-align: center;
        height: 100vh;
    }

    .header {
        /* in App */
        grid-row: 1/2;
        grid-column: 1/-1;
        padding: 20px;
    }

    .mapDiv {
        /* in App */
        grid-row: 2/3;
        grid-column: 2/3;
        width: 600px;
        margin: auto;
    }

    .parkResultsDiv {
        /* in App */
        grid-row: 3/4;
        grid-column: 2/3;
        /* in parkResultsDiv */
        display: grid;
        grid-template-rows: 25px repeat(5, auto);
        grid-template-columns: repeat(4, 1fr);
        background-color: lightgray;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* box-shadow: 0 0 10px black; */

    }

    .selectedState {
        /* in parkResultsDiv */
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: center;
    }

    .spinner {
        /* in parkResultsDiv */
        width: 75px;
        border-radius: 50%;
    }



}